@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.footer{
height: 150px;
display: flex;
flex-direction: column;
justify-content: center;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}
.container-paralax{
    color: white;
    height: 100vh;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-paralax--data{
    color:white;
    text-align: center;
    display: flex;
   flex-direction: column;
   justify-content: center;
}
.bg-img--version--1{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW6POIBex00bjebHFCf_8cLvg2r94BOxJnFw&usqp=CAU');
}
.bg-img--version--2{
    background-image: url('img/primeira_imagem.jpeg');


}
.bg-img--version--3{
    background-image: url('');

}

.content-header{
text-align: center;
}
.content-default{
    padding: 20px;
}
.content-flex{
    display: flex;

}
.content-flexgrid{
    display: grid;
}
.content-flex--direction{
    flex-direction:row;
}
.flex-wrap{
    flex: 1;
    margin: 2px;
    width: 33%;
    justify-content: center;
}
.content-flex--reverse{
    flex-direction: row-reverse;
}
.content-space--default{
    padding:20px;
    margin: 2;
    border-radius: 5px;
}
.content-justify{
    justify-content: center;
}
.content-justify--bt{
    justify-content: space-around;
}
.content-align{
    align-items: flex-start;
}
.content-left--main{
    position: fixed;
    left: 0;
    top: 30%;
    padding: 15px 5px 5px 15px;
    width: 80px;
    height: 300px;
    background: #9000c5;
    border-radius: 15px;
    display: grid;
    z-index: 3;
    box-shadow: 13px 7px 34px -12px rgba(0, 0, 0.75);
    
}
.content-top--button{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #9000c5;
    border-radius: 100px;
    padding: 10px;
    padding-left: -10px;
    width: 40px;
    height: 42px;
    text-align: center;
    transition: 1s;
}
.content-top--button:hover{
    background-color: #db5baa;
    transition: 1s;
}
i{
    font-size: 48px;
    color:white;
}
.flex-item--1{
    flex: 1;
    margin: 2px;
}
.flex-item--2{
    flex: 3;
    margin: 2px;
}
.flex-item--3{
    flex: 3;
    margin: 2px;
}
.text-center{
    text-align: center;
}

.bg-color--purple{
    background-color: #9000c5;
    color:white;

}
.bg-color--blue{
    background-color: blue;
    color: white;
}

.bg-color--yellow{
background-color: yellow;
}
.bg-color--pink{
    background-color: pink;;
}



